/* target the container you tagged in Glade */
.menu-bg {
  background-image: url("menu-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* fallback “wash” overlay */
  /*box-shadow: inset 0 0 0 9999px rgba(255, 255, 255, 0.177);*/
}
.plank {
  background-image: url("sign-wood.jpg");
  background-size: cover; /* or contain */
  background-repeat: no-repeat;
  background-position: center;

  border: none;
  padding: 10px 22px;
  min-width: 320px;
  min-height: 48px;

  color: #23180a;
  font-weight: 800;
}
.parchment {
  background-color: #f9e4b7; /* parchment beige */
  border: 4px solid #7b4e21; /* dark brown frame */
  border-radius: 12px;
  padding: 16px 24px;
  color: #5b3606; /* same text color as planks */
  font-weight: 600;
  margin-bottom: 20px;
}
.stone {
  background-image: url("stone-slab.jpg");
  background-size: cover; /* or contain */
  background-repeat: no-repeat;
  background-position: center;

  border: none;
  padding: 10px 22px;
  min-width: 320px;
  min-height: 48px;

  color: #32373a;
  font-weight: 800;
}
