/* Cell turns red if value entered is incorrect */
.entry-error {
  background-color: #ff6666; /* light red */
  color: white; /* white letters */
}
/* photo background */
.bg-1 {
  background-image: url("school-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* exit button background */
.chalk {
  background-image: url("chalk-board.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border: none;
  padding: 10px 6px;
  min-width: 280px;
  min-height: 35px;

  color: #ffffff;
  font-weight: 800;
}
/* button background */
.board-color {
  background-image: none; /* kill theme bg */
  background-color: #1d652c;
  box-shadow: none; /* remove theme shadow */
  border: 2px solid #7b4e21;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 800;
}
/* For the file chooser button */
.board-color button,
.board-color entry,
.board-color combobox,
.board-color combobox * {
  background-image: none;
  background-color: #1d652c;
  color: #ffffff;
  border: none;
  box-shadow: none;
}
/* instruction background */
.chalk-board {
  background-color: #1d652c; /* chalk board */
  border: 4px solid #7b4e21; /* dark brown frame */
  border-radius: 6px;
  padding: 10px 20px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 10px;
}
/* button instruction background */
.instructions {
  background-color: rgba(
    55,
    156,
    57,
    0.781
  ); /* chalk board green, 70% opacity */
  color: #23180a; /* dark brown text */
}
